apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-api
  namespace: dev
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: payment-api
  template:
    metadata:
      labels:
        app: payment-api
    spec:
      dnsConfig:
        nameservers:
          - 8.8.8.8
      containers:
      - name: payment-api
        image: sousvkeet/payment-api:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: ASPNETCORE_URLS
          value: "http://+:5000"
        # Add DB connection string override if needed
        # - name: ConnectionStrings__DevConnection
        #   value: "Your Connection String Here"

---
apiVersion: v1
kind: Service
metadata:
  name: payment-api
  namespace: dev
spec:
  selector:
    app: payment-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: ClusterIP